body {
    margin: 0;
    font-family: "Source Sans Pro", sans-serif;
    background-image: url(/images/background.jpg);
  }

.topbar {
    padding: 0px;
    background-color: rgb(205, 221, 255);
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}

.logo {
    height: 70px;
    padding: 20px 5px 10px 5px;
}

.navtabs {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navtabs a {
    text-decoration: none;
    color: rgb(59, 66, 65);
    font-size: 16px;
    padding: 15px 15px;
}

.navtabs a:hover {
    background-color: blanchedalmond;
}

.navtabs li {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.home {
    margin: 40px 10px 0px 10px;
    display: grid;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 500px 260px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    justify-content: center;
}

.signuphome {
    padding: 0px 5px 5px 5px;
    background-color: white;
    border: rgb(205, 221, 255);
    border-style: groove;
    border-width: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(205, 221, 255);
}

.signuphome a {
    text-decoration: none;
    color: black;
    text-shadow: 0.5px 0.5px grey;
    background-color: rgb(205, 221, 255);
    width: 100%;
    font-weight: bold;
    text-align: center;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.signuphome a:hover{
    background-color: bisque;
}

.zwevend {
    display: flex;
    background-color: white;
    margin: 40px 10px 0px 10px;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    border:rgb(205, 221, 255);
    border-style: groove;
    border-width: 20px;
}

.zwevendinner {
    display: flex;
    flex-direction: column;
}

.line {
    border-bottom: 2px solid black;
    margin-top: 5px;
    padding: 0px 10px 0px 10px;
}

.zwevendinner h1, h2 {
    margin: 0;
    align-self: center;
    text-align: center;
}

.zwevendinner p {
    margin-bottom: 0;
}

.two_column_explanation {
    display: grid;
    background-color: white;
    margin: 10px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    border:rgb(205, 221, 255);
    border-style: groove;
    border-width: 10px;
    grid-template: none / 190px auto;
    column-gap:2%;
}

.two_column_explanation h1 {
    text-align: left;
}

.overview_grid_row {
    display: grid;
    background-color: white;
    /*        t    r   b    l */
    margin: 20px 10px 0px 10px;
    padding: 20px 20px 20px 20px;
    border:rgb(205, 221, 255);
    border-style: groove;
    border-width: 20px;

    flex-wrap: wrap;
    flex-direction: row;
    align-self: end;
    grid-template: none / 20% 50% 30%;
    column-gap:2%;
    row-gap: 2%;
}

.overview_grid_row a {
    cursor: pointer;
    grid-column: span 3;
    margin: 10px 3.5% 0px 0px;
}

.overview_grid_header {
    display: grid;
    background-color: white;
    margin: 40px 10px 0px 10px;
    border:rgb(205, 221, 255);
    border-style: groove;
    border-width: 20px;
    justify-content: center;

    flex-wrap: wrap;
    flex-direction: row;
    grid-template: none / 20% 50% 30%;
    column-gap:2%;
    row-gap: 2%;
}

.grid_item_goal {
    display: grid;
    align-items: end;
    row-gap: 10px;
    font-size: large;
    font-weight: bold;
}

.grid_item_target {
    display: grid;
    flex-wrap: wrap;
    flex-direction: row;
    border-width: 10px;
    grid-template: none / 3fr 1fr;
    row-gap: 20px;
    column-gap: 5px;
}

.grid_item_target label {
    align-self: center;
}

.grid_item_target input {
    margin: 10px;
}

.grid_item_progress {
    display: flex;
    align-items: center;
    justify-content: center;
}
  
.header {
    display: flex;
    justify-self: center;
    align-self: center;
}

.goalbutton {
    text-align: center;
    background-color: rgb(205, 221, 255);
    color: black;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    display: block;
    border: 0;
    font-weight: 100;
    font-size: medium;
}

.button {
    text-align: center;
    background-color: rgb(205, 221, 255);
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 1.18rem;
    display: block;
    border: 0;
}

.forms {
    margin-top: 20px;
    margin-bottom: 10px;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
}

.new_goal {
    display: grid;
    background-color: white;
    margin: 10px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    border:rgb(205, 221, 255);
    /* border-style: groove; */
    border-width: 10px;
    grid-template: none / 1fr 3fr;
    column-gap:2%;
    row-gap: 10px;
}

.new_goal label {
    font-size: larger;
    font-weight: bold;
    align-self: center;
}

.smalllink {
    font-size: x-small;
    align-self: center;
}

.smalllink a {
    color: rgb(59, 66, 65);
    padding: 15px;
}

textarea {
    resize: none;
}

input {
    margin: 0px 0px 10px 0px
}

.expanded_grid {
    display: grid;
    margin: 0px 0px 0px 0px;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    grid-template: none / 3fr 1fr;
    column-gap: 0%;
}

.expanded_criteria {
    display: grid;
    background-color: white;
    margin: 10px 0px 0px -10px;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    border:rgb(205, 221, 255);
    border-style: groove;
    border-width: 10px;
    grid-template: none / 190px auto;
    column-gap:2%;
}

.expanded_targets {
    background-color: white;
    margin: 0px 10px 0px 10px;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    flex-direction: row;
    border:rgb(205, 221, 255);
    border-style: groove;
    border-width: 10px;
    column-gap:2%;
}

.expanded_progress {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    margin: 10px -10px 0px 10px;
    padding: 20px 20px 20px 20px;
    flex-wrap: wrap;
    border:rgb(205, 221, 255);
    border-style: groove;
    border-width: 10px;
}

.piechart {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: conic-gradient(
        rgb(205, 221, 255) 0 60%, 
        white 0);
}
      
/* Responsive layout - when the screen is less than 420px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 420px) {
    .topbar {   
      flex-direction: column;
    }

    .logo {
        align-self: center;
    }

    .navtabs {
        flex-direction: column;
    }

    .navtabs li {
        align-self: center;
    }

    .form {
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .two_column_explanation {   
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 720px) {
    .overview_grid_row {   
        grid-template-columns: 100%;
        padding: 20px 20px 60px 20px;
    }

    .overview_grid_row a {   
        grid-column: span 1;
        margin: 10px 0px 0px 0px;
    }

    .overview_grid_header {   
        grid-template-columns: 100%;
    }

    .expanded_criteria {
        grid-template-columns: 100%;
    }
}

@media screen and (max-width: 790px) {
    .home {
        grid-template-columns: 100%;

    }
    
}